<div class="col-md-10 col-md-offset-1 mb-3">
  <div class="signup-form">
    <h2>Registro</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true ,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="d-flex justify-content-between">
        <%= f.button :submit, "Registrarse", class: "btn btn-warning" %>
      
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
