<%= simple_form_for @play do |f| %>
    <%= select_tag(:category_id, options_for_select(@categories), prompt: "Seleccione Una Categoria", class: "btn mt-2 mb-2") %>
    <%= f.file_field :play_img, class: "ml-3"%>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :director %>
    <%= f.button :submit, class: "mb-3 btn btn-success" %>
<% end %>