<div class="col-md-10 col-md-offset-1 mb-3">
    <div class="edit-play-form">
        <h1>Editar</h1>
        <%= simple_form_for @play, html: {multipart: true} do |f| %>
            <%= f.file_field :play_img, class: "ml-3"%>
            <%= f.select :category_id, @categories, class: "mt-2 mb-2 btn"%>
            <%= f.input :title %>
            <%= f.input :description %>
            <%= f.input :director %>
            <%= f.button :submit, class: "mb-3 btn btn-success" %>
        <% end %>
    </div>
</div>