<h1 class="current-category"><%= params[:category] %></h1>

<% if @plays.count == 0 %>
    <h3>No Hay Peliculas En Esta Categoria</h3>
<% else %>
    <div class="row">
        <% @plays.each do |play| %>
            <div class="col-md-3">
                <%= link_to play_path(play.id) do %>
                    <%= image_tag play.play_img.url(:play_index), class: "play" %>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>
