<div class="row">
    <div class="col-md-4">
       <%= image_tag @play.play_img.url(:play_show), class: "play-show" %>
    </div>

    <div class="col-md-8">
         <div class="play-info">
            <h2 class="play-title"><%= @play.title %></h2>
            <h3 class="play-director"><span>De: </span><%= @play.director %></h3>
            <h4 class="play-director"><%= @play.category.name %></h4>
            <h4 class="avg-rating">Average Rating</h4>
            <div class="average-review-rating" data-score=<%= @average_review%>></div>
            <span class="number-of-reviews"><em>Contiene:</em> <%= @play.reviews.count %> reviews</span>
            <p class="play-desc"><%= @play.description %></p>
         </div>

         <div class="links btn-group mt-3 mb-3">
            <%= link_to "Atras", root_path, class: "btn btn-info ml-2" %>
                <% if user_signed_in? %>
                    <% if @play.user_id == current_user.id %>
                        <%= link_to "Editar", edit_play_path(@play), class: "btn btn-success ml-2" %>
                        <%= link_to "Borrar", play_path(@play), method: :delete, data: {confirm: "Estas Seguro"}, class: "btn btn-danger ml-2"%>
                    <% end %>
                <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="reviews">
                <h1>Reviews</h1>
                <%= render @play.reviews %>
                <div>
                    <%= link_to "Agregar Review", new_play_review_path(@play), class: "btn btn-success"%>
                </div>
            </div>
        </div>
    </div>
</div>


