<nav class="nav navbar-default navbar-expand navbar">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Broadway", root_path, class: "navbar-brand"%>
          
        </div>

        

        <ul class="nav navbar-nav navbar ">

         <div class="dropdown mr-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filtrar Por Categorias
          </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
              <% Category.all.each do |category|%>
                      <li class="dropdown-item" >
                        <%= link_to category.name, plays_path(category: category.name), class: "link"%>
                      </li>
              <% end %>
            </div>
        </div>

          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "Agregar Pelicula", new_play_path%></li>
          <% end %>
        </ul>

        

        <ul class=" nav navbar-nav navbar">
      
          <% if user_signed_in? %>
            <li><%= link_to "Desloguearse", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="mr-3"><%= link_to "Registro", new_user_registration_path %></li>
            <li><%= link_to "Inicio Sesion", new_user_session_path %></li>
          <% end %>
        </ul>

        
      </div>
    </nav>