<div class="col-md-10 col-md-offset-1 mb-3">
  <div class="login-form">
    <h2>Inicio Sesion</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="d-flex justify-content-between">
        <%= f.button :submit, "Iniciar Sesion", class: "btn btn-success" %>
      
    <% end %>

    <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
