<%= simple_form_for([@play, @play.reviews.build]) do |form| %>
    <div id="rating-form">
       <label>Rating</label>
    </div>
        <%= form.input :comment, class: "alto" %>
        <%= form.button :submit, class: "btn btn-success"%>
<% end %>

<script>
    $(docuemnt).on('turbolinks:load', function() {
        
    })

</script>
