<div class="review">
    <div class="review-rating" data-score="<%= review.rating%>">
    
    </div>
    <p class="review-comment"><%= review.comment%></p>

    <% if user_signed_in? %>

        <% if review.user_id == current_user.id %>

            <div class="links btn-group">
                <%= link_to "Editar", edit_play_review_path(review.play, review), class: "btn btn-info"%>
                <%= link_to "Borrar", play_review_path(review.play, review), method: :delete, data: {confirm: "Estas Seguro"}, class: "btn btn-warning ml-2"%>
            </div>
        <% end %>
    <% end%>
</div>

<script>

    $(document).on('turbolinks:load', function() {
        
    })

    
</script>