<div class="col-md-10 col-md-offset-1 mb-3">
    <div class="edit-review-form">
        <h1> Editar Reseña</h1>
            <%= simple_form_for([@play, @review]) do |form| %>
                <div id="rating-form">
                    <label>Rating</label>
                </div>
                    <%= form.input :comment, class: "alto" %>
                    <%= form.button :submit, class: "btn btn-success"%>
            <% end %>
    </div>
</div>






